<button mat-raised-button class="mb-2 mt-2 mr-2" color="primary" routerLink="/settings/core-setting">Core Setting</button>
<button mat-raised-button class="mb-2 mt-2 mr-2 " color="primary" routerLink="/settings/user-setting">User Setting</button>
<button mat-raised-button class="mb-2 mt-2 mr-2" color="primary" routerLink="/settings/general-setting">General Setting</button>

<router-outlet></router-outlet>