<form>
    <div class="form-group">
        <label for="firstName">First Name</label>
        <input appInputFocus type="text" maxlength="6" class="form-control" id="firstName" aria-describedby="emailHelp" placeholder="First Name">
      </div>
    <div class="form-group">
      <label for="exampleInputEmail1">Email address</label>
      <input appInputFocus type="email" maxlength="6" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
      <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
    </div>
    <div class="form-group">
      <label for="exampleInputPassword1">LastName</label>
      <input appInputFocus type="text" maxlength="6" class="form-control" id="testing" disabled placeholder="Testing">
    </div>
    <div class="form-group">
      <label for="exampleInputPassword1">Password</label>
      <input appInputFocus type="password" maxlength="6" class="form-control" id="exampleInputPassword1" placeholder="Password">
    </div>
    <div class="form-group">
        <label for="exampleInputPassword1">LastName</label>
        <input appInputFocus type="text" maxlength="6" class="form-control" id="LastName" placeholder="LastName">
      </div>
     
    <div class="form-group form-check">
      <input type="checkbox" class="form-check-input" id="exampleCheck1">
      <label class="form-check-label" for="exampleCheck1">Check me out</label>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>