
<div class="container">
    <div class="row">
            <div class="col-4">
			  <button class="col-12"  mat-button color="primary" (click)="Bar()">Bar</button>
			  <button class="col-12" mat-button color="primary" (click)="Media()">Media</button>
			  <button class="col-12" mat-button color="primary" (click)="Db()">DB</button>
			</div>
			 <div class="col-8">
				<div class="container">
				    <app-bar *ngIf="bar"></app-bar>
					<app-media *ngIf="media"></app-media>
					<app-db *ngIf="db"></app-db>
				</div>
			</div>
    </div>
</div>